extends layout

script(src='../scripts/storiesPage.js')
block content
	h1= title
	div.storyContainer
		if(error)
			p #{error}

		if (chapterTitles)
			each chapt,index in chapterTitles
				a(href='/read/#{storyName}/noncanon/#{chapterIndex}/' + chapt) 
					p chapt
					

		p Do these suck? 
			a(href='/write/#{storyName}/#{chapterIndex}') Write your own!

	script.
		window.onload = function () {
			console.log('#{chapterTitles}');
		};

	//
		a(href='/read/knightquest')
			img(src='/images/')
			p Knight Quest
		a(href='/knightquest/chapters')
			p Upcoming Chapters